*{box-sizing:border-box;}

body{
    background-image: linear-gradient(to bottom, #5ec1ff, #3739ff, #00037d);
    background-size:cover;
    background-attachment:fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:left;
    font-size: 1rem;
    }
h1{
    text-align:center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{text-align:left;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:100px;
}

li{
    display:flex;
    background-color:rgb(145, 227, 255);
    max-width:80%;
    max-height: 20%;
    text-align:left;
    list-style-position:inside;
    list-style-type:none;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

li img{ /*kijk weer ff op w3schools voor de moving of images*/
    max-width: 300px;
    height:auto;
    margin-left:38%;
    border-radius: 10px;
}

nav{
    display:flex;
    background-color:rgb(204, 166, 255);
    text-align:center;
    margin-bottom: 20px;
    height: 3rem;
    margin:0px; /*margin note: margin met twee values eerste is hoogtes tweede is breedtes*/
    padding:0px;
    position:relative;
    justify-content:center;
}

nav a{
    text-decoration:none;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    display:inline-block;
    padding: 14px 16px;
    color:rgb(0, 31, 131);
}

nav a:hover{
    background-color:rgb(0, 100, 162);
    color:rgb(255, 255, 255);
}

nav a:visited{
    color:rgb(0, 31, 131);
}

@media (max-width: 600px){
    ul{
        width:95%;
        height:auto;
    }
    li{
        flex-direction:column;
        width:100%;
        height:auto;
        justify-content:center;
    }
}